Repository icl-utk-edu/papi, pull requests merged in 2024-12, with the labels that each got.

#278 Update all_native_events.c and get_event_component.c to allow users to optionally disable Cuda native events
  src/ctests/all_native_events.c
  src/ctests/get_event_component.c
Labels: enhancement, component - cuda

#275 Add support for AMD family 25 (19h) processors in the RAPL component.
  src/components/rapl/linux-rapl.c
Labels: enhancement

#292 Adding tests for the lmsensors component
  src/components/lmsensors/tests/Makefile
  src/components/lmsensors/tests/lmsensors_list_events.c
  src/components/lmsensors/tests/lmsensors_read.c
Labels: component - lmsensors, status-ready-to-merge

#293 2024.12.11 intel gpu threads
  src/components/intel_gpu/Rules.intel_gpu
  src/components/intel_gpu/tests/Makefile
  src/configure
  src/configure.in
Labels: type-bug, component-intel_gpu, status-ready-to-merge
