Repository icl-utk-edu/papi, pull requests merged in 2025-04, with the labels that each got.

#201 perf_event_uncore: consider capabilities for permissions
  src/components/perf_event_uncore/perf_event_uncore.c
Labels: component-perf_event_uncore, status-ready-for-review

#250 PAPI Pi4 Support
  src/papi_events.csv
Labels: update-presets

#151 rapl: added Sapphire Rapids (Model 143) support to RAPL component
  src/components/rapl/linux-rapl.c
Labels: component-rapl, status-ready-for-review

#311 Cuda : Statistic Qualifier
  src/components/cuda/README_internal.md
  src/components/cuda/cupti_dispatch.c
  src/components/cuda/cupti_dispatch.h
  src/components/cuda/cupti_events.c
  src/components/cuda/cupti_events.h
  src/components/cuda/cupti_profiler.c
  src/components/cuda/cupti_profiler.h
  src/components/cuda/cupti_utils.c
  src/components/cuda/cupti_utils.h
  src/components/cuda/linux-cuda.c
  src/components/cuda/tests/runtest.sh
Labels: type-feature, component-cuda, status-ready-for-review

#279 cat: updates in vector-FLOPs benchmarks
  src/counter_analysis_toolkit/Makefile
  src/counter_analysis_toolkit/cat_arch.h
  src/counter_analysis_toolkit/vec.c
  src/counter_analysis_toolkit/vec_fma_dp.c
  src/counter_analysis_toolkit/vec_fma_hp.c
  src/counter_analysis_toolkit/vec_fma_sp.c
  src/counter_analysis_toolkit/vec_nonfma_dp.c
  src/counter_analysis_toolkit/vec_nonfma_hp.c
  src/counter_analysis_toolkit/vec_nonfma_sp.c
  src/counter_analysis_toolkit/vec_scalar_verify.c
  src/counter_analysis_toolkit/vec_scalar_verify.h
Labels: counter-analysis-toolkit

#294 Add support for Intel Comet Lake S/H in RAPL component.
  src/components/rapl/linux-rapl.c
Labels: component-rapl

#300 Parse event qualifiers for the Rocm and Cuda components to make sure no excess characters are appended
  src/components/cuda/cupti_profiler.c
  src/components/rocm/roc_profiler.c
Labels: type-bug, component-cuda, component-rocm, status-ready-for-review

#219 rocm: add reason for disabled component
  src/components/rocm/roc_common.c
  src/components/rocm/rocm.c
Labels: component-rocm

#340 components: improper usage of PAPI_END macro
  src/components/cuda/cupti_profiler.c
  src/components/rocm/roc_profiler.c
  src/components/rocm_smi/rocs.c
  src/components/template/vendor_profiler_v1.c
Labels: component-cuda, component-rocm, component-rocm_smi

#277 papi_events.csv: Add preset events support for FUJITSU-MONAKA
  src/components/sysdetect/arm_cpu_utils.c
  src/papi_events.csv
Labels: status-ready-for-review, update-presets

#343 Cuda Component: Support the MetricsEvaluator API
  src/components/cuda/Rules.cuda
  src/components/cuda/cupti_profiler.c
  src/components/cuda/cupti_utils.h
  src/components/cuda/lcuda_debug.h
  src/components/cuda/linux-cuda.c
  src/components/cuda/papi_cupti_common.c
  src/components/cuda/papi_cupti_common.h
  src/components/cuda/tests/concurrent_profiling.cu
  src/components/cuda/tests/concurrent_profiling_noCuCtx.cu
Labels: component-cuda, status-ready-for-review, type-maintenance, type-refactoring

#355 perf_event: Disable component if perf_event_paranoid is set to 4
  src/components/perf_event/perf_event.c
Labels: type-bug, status-ready-to-merge, component-perf_event
