Repository icl-utk-edu/papi, pull requests merged in 2025-08, with the labels that each got.

#465 cuda: Add newline for SUBDBG message in cuda_stop
  src/components/cuda/linux-cuda.c
Labels: component-cuda, status-ready-for-review

#418 rocm_smi: Expose energy and power consumption measurements
  src/components/rocm_smi/Rules.rocm_smi
  src/components/rocm_smi/rocs.c
Labels: component-rocm_smi

#467 rocp_sdk: Update component tests to enumerate through available events and add them if none of the desired events can be added
  src/components/rocp_sdk/tests/Makefile
  src/components/rocp_sdk/tests/advanced.c
  src/components/rocp_sdk/tests/helper_rocp_sdk.c
  src/components/rocp_sdk/tests/simple.c
  src/components/rocp_sdk/tests/simple_sampling.c
  src/components/rocp_sdk/tests/two_eventsets.c
Labels: status-ready-for-review, component-rocp_sdk

#447 PAPI CI: Add `rocp_sdk` jobs, improve robustness of checking for expected active components, and add issue templates
  .github/ISSUE_TEMPLATE/papi_feature_request.yml
  .github/ISSUE_TEMPLATE/papi_issue_report.yml
  .github/workflows/ci_default_components.sh
  .github/workflows/ci_individual_component.sh
  .github/workflows/ci_papi_framework.sh
  .github/workflows/papi_framework_workflow.yml
  .github/workflows/rocp_sdk_component_workflow.yml
  src/run_tests.sh
Labels: update-ci
