Repository icl-utk-edu/papi, pull requests merged in 2025-02, with the labels that each got.

#304 Update configure and configure.in to avoid errors: integer expression expected and cuda.h no such file on Power 9 and 10
  src/configure
  src/configure.in
Labels: type-bug, status-ready-for-review

#308 Updating error messages for function check_exclude_guest() in perf_event.c
  src/components/perf_event/perf_event.c
Labels: component-perf_event, status-ready-for-review

#309 Update libpfm4 to Commit ID 7750d00
  src/libpfm4/lib/events/amd64_events_fam1ah_zen5.h
Labels: status-ready-for-review, update-libpfm4

#320 rocprof_sdk: Propagate error when obtaining function pointers
  src/components/rocp_sdk/sdk_class.cpp
Labels: component-rocp_sdk

#312 Add Support for Heterogeneous GPU Configurations in the Cuda Component
  src/components/cuda/cupti_dispatch.c
  src/components/cuda/cupti_profiler.c
  src/components/cuda/cupti_utils.h
  src/components/cuda/linux-cuda.c
  src/components/cuda/papi_cupti_common.c
  src/components/cuda/papi_cupti_common.h
Labels: type-feature, component-cuda, status-ready-for-review
